html, body { height: 100%; }
body{ font-size: 13px; font-family: Tahoma, Verdana; line-height: 1.2; color: #000; text-rendering: optimizeLegibility; }

div#geral { margin: 0px auto; width: 960px; position: relative;  padding-bottom: -60px;  }
div#cabecalho { background: url('../img/cabecalho.gif') no-repeat; display: block; height: 219px; }
div#cabecalho h1#slogan { position: absolute; right: 10px; top: 10px; z-index: 1;}
div#cabecalho div#menu { margin-left: 230px; margin-top: 90px; float: left; }
div#cabecalho div#menu a { color: #F2DB0E; font-size: 18px; padding: 10px; text-decoration: none; float: left; }
div#cabecalho div#menu a.selected{ background: #D11E24; color: #FFF; -moz-border-radius:10px; -khtml-border-radius:10px; -webkit-border-radius:10px; -opera-border-radius:10px; }
div#conteudo { margin-top: 10px; padding-bottom: 70px; }

div#slides { display: block; height: 300px;}
.theme-default #slider {
    width:615px !important; /* Make sure your images are the same size */
    height:300px; /* Make sure your images are the same size */
}

div#sugestoes { background: #EAEAEA; padding: 10px; }
div#sugestoes h2 { margin-top: 0px; }
div#sugestoes input[type="text"] { border: 1px solid #ccc; width: 90%; display: block;  margin: 2px; margin-left: 0px; padding: 5px; -moz-border-radius:10px; -khtml-border-radius:10px; -webkit-border-radius:10px; -opera-border-radius:10px; }
div#sugestoes input[type="submit"] { background: #D01E24; color: #FFF; padding: 5px; border: 0px; margin-top: 5px; -moz-border-radius:10px; -khtml-border-radius:10px; -webkit-border-radius:10px; -opera-border-radius:10px; cursor: pointer;  }
div#sugestoes textarea { background: #fff; color: #000; border: 1px solid #ccc; width: 90%; display: block;  margin: 2px; margin-left: 0px; padding: 5px; -moz-border-radius:10px; -khtml-border-radius:10px; -webkit-border-radius:10px; -opera-border-radius:10px;  }

div#destaques { padding: 10px; padding-top: 0px; }
div#destaques ol, div#destaques ol li { margin: 0px; padding: 0px; list-style: none; }
div#destaques ol li { margin-top: 10px; display: block;}
div#destaques ol li img { float: left; width: 106px; height: 106px; margin-right: 5px;}
div#destaques a { color: #000; }

div#newsletter { padding: 10px; background: #EAEAEA; }
div#newsletter h2 { margin-top: 0px; }
div#newsletter input[type="text"] { border: 1px solid #ccc; width: 232px; margin: 2px; padding: 5px; -moz-border-radius:10px; -khtml-border-radius:10px; -webkit-border-radius:10px; -opera-border-radius:10px; }
div#newsletter input[type="submit"] { background: #D01E24; color: #FFF; padding: 5px; border: 0px; margin-top: 5px; -moz-border-radius:10px; -khtml-border-radius:10px; -webkit-border-radius:10px; -opera-border-radius:10px; cursor: pointer;  }

div#ultimas_noticias { padding: 10px; }
div#ultimas_noticias ol, div#ultimas_noticias ol li { margin: 0px; padding: 0px; list-style: none; }
div#ultimas_noticias ol li { margin-top: 10px; display: block;}
div#ultimas_noticias div.data_noticia { float: left; width: 60px; height: 61px; background: url('../img/data_noticias.gif'); margin: 0px 5px; } 
div#ultimas_noticias div.data_noticia span.dia_noticia { font-size: 20px; font-height: bold; color: #000; font-weight: bold; line-height: 40px; text-align: center; display: block; }
div#ultimas_noticias div.data_noticia span.mes_noticia { font-size: 12px; font-height: bold; color: #fff; font-weight: bold; line-height: 14px; text-align: center; display: block; }
div#ultimas_noticias a { color: #000; }


div#noticias, div#noticia { padding: 10px; }
div#noticias h2 { margin-top: 0px; }
div#noticias ol, div#noticias ol li { margin: 0px; padding: 0px; list-style: none; }
div#noticias ol li { margin-top: 10px; display: block;}
div#noticias div.data_noticia { float: left; width: 60px; height: 61px; background: url('../img/data_noticias.gif'); margin: 0px 5px; } 
div#noticias div.data_noticia span.dia_noticia { font-size: 20px; font-height: bold; color: #000; font-weight: bold; line-height: 40px; text-align: center; display: block; }
div#noticias div.data_noticia span.mes_noticia { font-size: 12px; font-height: bold; color: #fff; font-weight: bold; line-height: 14px; text-align: center; display: block; }
div#noticias a { color: #000; }


div#materiais { padding: 10px; }
div#materiais h2 { margin-top: 0px; }
div#materiais ol, div#materiais ol li { margin: 0px; padding: 0px; list-style: none; }
div#materiais ol li { margin-top: 10px; display: block;}
div#materiais a { color: #000; }


div#albuns, div#album { padding: 10px; }
div#albuns h2, div#album h2 { margin-top: 0px; }
div#albuns a, div#album a  { color: #000; }

div#videos { padding: 10px; }
div#videos h2 { margin-top: 0px; }
div#videos a { color: #000; }

div#contato { padding: 10px; }
div#contato h2 { margin-top: 0px; }
div#contato a { color: #000; }
div#contato input[type="text"] { border: 1px solid #ccc; width: 90%; display: block;  margin: 2px; margin-left: 0px; padding: 5px; -moz-border-radius:10px; -khtml-border-radius:10px; -webkit-border-radius:10px; -opera-border-radius:10px; }
div#contato input[type="submit"] { background: #D01E24; color: #FFF; padding: 5px; border: 0px; margin-top: 5px; -moz-border-radius:10px; -khtml-border-radius:10px; -webkit-border-radius:10px; -opera-border-radius:10px; cursor: pointer;  }
div#contato textarea { background: #fff; color: #000; border: 1px solid #ccc; width: 90%; display: block;  margin: 2px; margin-left: 0px; padding: 5px; -moz-border-radius:10px; -khtml-border-radius:10px; -webkit-border-radius:10px; -opera-border-radius:10px;  }


h1, h2, h3, h4, h5, h6 {
    margin-bottom: 3px;
    margin-top: 6px;
	font-weight: normal;
}

h2 { font-size: 18px; margin-top: 20px; }
h3 { font-size: 16px; }


.b_all{ -moz-border-radius:10px;
-khtml-border-radius:10px;
-webkit-border-radius:10px;
-opera-border-radius:10px;}
/* BOX PROGRAMAÇÃO */
.box-programacao, .box-recados, .box-fotos, .box-paginas{
	background: #232323;
	border-top: 1px solid #FFF;
	height: 315px;
	-moz-border-radius:10px;
	-khtml-border-radius:10px;
	-webkit-border-radius:10px;
	-opera-border-radius:10px;
	color: #FFF;
	position: relative;
}

.box-paginas { height: auto !important; min-height: 555px; width: 670px; padding: 10px;}

.overflow { overflow-x: hidden; overflow-y: auto; margin: 10px; padding: 10px; height: 240px !important;}
span.titulo { color: #999; font-size: 14px;}
.box-programacao a { color: #FFF; text-decoration: none; }



.box-recados .overflow { height: 205px;}
.box-recados a { padding: 2px; }
.box-recados p  { color: #FFF; }

a.ef { text-decoration: none; color: #FFF; }
a.ef:hover { color: #F60F2F !important; }

.box-fotos { width: 930px; height: auto; padding: 10px 5px;   }

/* fotos */
a.titulo { color: #999 !important;  }
span.foto-thumb, span.foto-thumb img { width: 176px; height: 132px; }
div.foto-conteudo a { font-size: 100%; margin: 0; padding: 0; text-decoration: none; color: #0033CC; }

/*
-moz-border-radius:10px;
-khtml-border-radius:10px;
-webkit-border-radius:10px;
-opera-border-radius:10px;
*/
hr { margin: 0px; padding: 0px; margin: 5px 0px;}
div#rodape { text-align: center; height: 60px;  position: absolute; bottom: 0px;  z-index: 1; width: 100%; background: url('../img/rodape.gif') repeat-x; }

div#rodape p { line-height: 60px; color: #000; margin: 0px; padding: 0px; text-align: left; }

div#social { position: absolute; right: 10px; margin-top: -40px; background: url('../img/social.png') no-repeat; width: 82px; height: 28px; z-index: 2;}
div#social a { float: left; width: 33%; height: 28px; }

/* Ajudante http://www.positioniseverything.net/easyclearing.html */
* html .clearfix { height: 1%; }
.clearfix:after { clear: both; content: '.'; display: block; visibility: hidden; height: 0; }
.clearfix { display: inline-block; }
.clearfix { display: block; }




/* Cake */

/**
 *
 * Generic CSS for CakePHP
 *
 * CakePHP(tm) : Rapid Development Framework (http://cakephp.org)
 * Copyright 2005-2010, Cake Software Foundation, Inc. (http://cakefoundation.org)
 *
 * Licensed under The MIT License
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright 2005-2010, Cake Software Foundation, Inc. (http://cakefoundation.org)
 * @link          http://cakephp.org CakePHP(tm) Project
 * @package       cake
 * @subpackage    cake.app.webroot.css
 * @since         CakePHP(tm)
 * @license       MIT License (http://www.opensource.org/licenses/mit-license.php)
 */

* {
	margin:0;
	padding:0;
}

/** General Style Info **/

/* Login */

/** Tables **/
table {
	background: #fff;
	border-right:0;
	clear: both;
	color: #333;
	margin-bottom: 10px;
	width: 100%;
}
th {
	border:0;
	border-bottom:2px solid #555;
	text-align: left;
	padding:4px;
}
th a {
	display: block;
	padding: 2px 4px;
	text-decoration: none;
}
th a.asc:after {
	content: ' ⇣';
}
th a.desc:after {
	content: ' ⇡';
}
table tr td {
	background: #fff;
	padding: 6px;
	text-align: left;
	vertical-align: top;
	border-bottom:1px solid #ddd;
}
table tr:nth-child(2n) td {
	background: #f5f5f5;
}
table .altrow td {
	background: #f5f5f5;
}
td.actions {
	text-align: center;
	white-space: nowrap;
}
table td.actions a {
	margin: 0px 6px;
	padding:2px 5px;
}
.cake-sql-log table {
	background: #f4f4f4;
}
.cake-sql-log td {
	padding: 4px 8px;
	text-align: left;
	font-family: tahoma, verdana,sans-serif;
}
.cake-sql-log caption {
	color:#fff;
}

/** Paging **/
div.paging {
	background:#fff;
	color: #ccc;
	margin-top: 1em;
	clear:both;
}
div.paging span.disabled {
	color: #ddd;
	display: inline;
}
div.paging span.current {
	color: #c73e14;
}
div.paging span a {
}

/** Scaffold View **/
dl {
	line-height: 2em;
	margin: 0em 0em;
	width: 60%;
}
dl .altrow {
	background: #f4f4f4;
}
dt {
	font-weight: bold;
	padding-left: 4px;
	vertical-align: top;
}
dd {
	margin-left: 10em;
	margin-top: -2em;
	vertical-align: top;
}

/** Forms **/
div.form form {
	clear: both;
	margin-right: 20px;
	padding: 0;
	width: 95%;
}
div.form fieldset {
	border: 1px solid #ccc;
	margin-bottom: 1em;
	padding: 16px 20px;
}
div.form fieldset legend {
	background:#fff;
	color: #e32;
	font-weight: bold;
}
div.form fieldset fieldset {
	margin-top: 0px;
	margin-bottom: 20px;
	padding: 16px 10px;
}
div.form fieldset fieldset legend {
	font-size: 120%;
	font-weight: normal;
}
div.form fieldset fieldset div {
	clear: left;
	margin: 0 20px;
}
div.form form div {
	clear: both;
	margin-bottom: 4px;
	padding: 1px;
	vertical-align: text-top;
}
div.form form .input {
	color: #444;
}
div.form form .required {
	font-weight: bold;
}
div.form form .required label:after {
	color: #e32;
	content: '*';
	display:inline;
}
div.form form div.submit {
	border: 0;
	clear: both;
	margin-top: 10px;

}
div.form label {
	display: block;
	color: #AFB0B4;
	margin-top: 2px;
	margin-bottom:2px;
}
div.form input, textarea {
	clear: both;
	padding: 4px 4px;
	width:96%;
	background: #7C7C7A;
	color: #FFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
div.form select {
	clear: both;
	vertical-align: text-bottom;
	background: #7C7C7A;
	color: #FFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
div.form select[multiple=multiple] {
	width: 100%;
}
div.form option {
	font-size: 120%;
	padding: 0 3px;
}
div.form input[type=checkbox] {
	clear: left;
	float: left;
	margin: 0px 6px 7px 2px;
	width: auto;
	cursor: pointer;
}
div.form div.checkbox label {
	display: inline;
	cursor: pointer;
}
div.form input[type=radio] {
	float:left;
	width:auto;
	margin: 0 3px 7px 0;
}
div.form div.radio label {
	margin: 0 0 10px 10px;
}
div.form input[type=submit] {
	display: inline;
	width: auto;
		background: #000;
		padding: 5px 20px;
		font-family: Tahoma, Verdana; 
		cursor: pointer;
		font-size: 14px;
}


/** Notices and Errors **/


div.message {
	clear: both;
	color: #fff;
	font-size: 120%;
	font-weight: bold;
	margin: 10px;
	background: #F60F2F;
	padding: 10px;
	margin-left: 0px;
}
div.error-message {
	clear: both;
	color: #fff;
	font-weight: bold;
	background: #c73e14;
}
p.error {
	background-color: #e32;
	color: #fff;
	font-family: tahoma, verdana, arial,sans-serif;
	font-size: 120%;
	line-height: 140%;
	padding: 0.8em;
	margin: 1em 0;
}
p.error em {
	color: #000;
	font-weight: normal;
	line-height: 140%;
}
.notice, .info {
	background: #ffcc00;
	color: #000;
	display: block;
	font-family: tahoma, verdana, arial,sans-serif;
	font-size: 100%;
	line-height: 140%;
	padding: 0.8em;
	margin: 1em 0;
}
.success {
	background: green;
	color: #fff;
}


.agenda-info, .recado-info { margin-bottom: 8px; }
.agenda-info a, .recado-info a { text-decoration: none; }

/** Debugging **/
pre {
	color: #000;
	background: #f0f0f0;
	padding: 1em;
}
pre.cake-debug {
	background: #ffcc00;
	font-size: 120%;
	line-height: 140%;
	margin-top: 1em;
	overflow: auto;
	position: relative;
}
div.cake-stack-trace {
	background: #fff;
	color: #333;
	margin: 0px;
	padding: 6px;
	font-size: 120%;
	line-height: 140%;
	overflow: auto;
	position: relative;
}
div.cake-code-dump pre {
	position: relative;
	overflow: auto;
}
div.cake-stack-trace pre, div.cake-code-dump pre {
	color: #000;
	background-color: #F0F0F0;
	margin: 0px;
	padding: 1em;
	overflow: auto;
}
div.cake-code-dump pre, div.cake-code-dump pre code {
	clear: both;
	font-size: 12px;
	line-height: 15px;
	margin: 4px 2px;
	padding: 4px;
	overflow: auto;
}
div.cake-code-dump span.code-highlight {
	background-color: #ff0;
	padding: 4px;
}
div.code-coverage-results div.code-line {
	padding-left:5px;
	display:block;
	margin-left:10px;
}
div.code-coverage-results div.uncovered span.content {
	background:#ecc;
}
div.code-coverage-results div.covered span.content {
	background:#cec;
}
div.code-coverage-results div.ignored span.content {
	color:#aaa;
}
div.code-coverage-results span.line-num {
	color:#666;
	display:block;
	float:left;
	width:20px;
	text-align:right;
	margin-right:5px;
}
div.code-coverage-results span.line-num strong {
	color:#666;
}
div.code-coverage-results div.start {
	border:1px solid #aaa;
	border-width:1px 1px 0px 1px;
	margin-top:30px;
	padding-top:5px;
}
div.code-coverage-results div.end {
	border:1px solid #aaa;
	border-width:0px 1px 1px 1px;
	margin-bottom:30px;
	padding-bottom:5px;
}
div.code-coverage-results div.realstart {
	margin-top:0px;
}
div.code-coverage-results p.note {
	color:#bbb;
	padding:5px;
	margin:5px 0 10px;
	font-size:10px;
}
div.code-coverage-results span.result-bad {
	color: #a00;
}
div.code-coverage-results span.result-ok {
	color: #fa0;
}
div.code-coverage-results span.result-good {
	color: #0a0;
}


